<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inlinks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body { padding: 1rem; font-family: Arial, sans-serif; }
        table { width: 100%; border-collapse: collapse; max-width: 600px; }
        td, th { padding: .5rem; border-bottom: 1px solid #ccc; }
    </style>
</head>
<body>

<h2>Inlinks para: <span th:text="${url}"></span></h2>

<p>Total: <b th:text="${inlinks}"></b></p>

<a href="/">Voltar</a>

</body>
</html>
